<div id="kt_header" class="header flex-column  header-fixed ">
  <div class="header-top">
    <div class=" container ">
      <div class="d-none d-lg-flex align-items-center mr-3">
        <a href="index.html" class="mr-20">
          <img alt="Logo" src="assets/media/logos/rbs-logo.png" class="max-h-35px" />
        </a>
      </div>
      <div class="topbar">
        <!--begin::User-->
        <div class="topbar-item">
          <div class="btn btn-icon btn-hover-transparent-white w-auto d-flex align-items-center btn-lg px-2"
            id="kt_quick_user_toggle">
            <div class="d-flex flex-column text-right pr-3">
              <span class="text-white opacity-50 font-weight-bold font-size-sm d-none d-md-inline">{{ userName }}</span>
              <span class="text-white font-weight-bolder font-size-sm d-none d-md-inline">{{ userDepartment }}</span>
            </div>
            <span class="symbol symbol-35">
              <span class="symbol-label font-size-h5 font-weight-bold text-white bg-white-o-30">{{ userNameFirst }}</span>
            </span>
          </div>
        </div>
        <!--end::User-->
      </div>
    </div>
  </div>
  <!-- NAV BAR -->
  <app-auth-nav></app-auth-nav>
</div>
