
<form class="form" [formGroup]="myForm" (submit)="onSubmit()">
  <div class="card card-custom gutter-b" *ngIf="loading">
    <div class="card-body row">
      <button disabled type="button" class="btn btn-square btn-light btn-shadow spinner spinner-dark spinner-left">
        Processing
      </button>
      <span class="mt-4 ml-10 text-danger">{{notFound}}</span>
    </div>
  </div>
  <div class="card card-custom gutter-b" [hidden]="loading">
    <div class="card-header">
      <div class="card-title">
        <h3 class="card-label">
          {{ pageTitle }} System Users
        </h3>
      </div>
    </div>
    <div class="card-body">
      <div class="form-group row">
        <div class="col-lg-6">
          <label>Full Name:</label>
          <input type="text" class="form-control" [class.is-invalid]="fullname.invalid && fullname.touched"
            placeholder="Enter full name" formControlName="fullname">
          <div class="invalid-feedback" *ngIf="fullname.invalid && fullname.touched">Shucks, you are not fill in the form field.</div>
          <span class="form-text text-muted">Please enter your full name</span>
        </div>
        <div class="col-lg-6">
          <label>Nickname:</label>
          <input type="text" class="form-control" [class.is-invalid]="nickname.invalid && nickname.touched"
            placeholder="Enter nickname" formControlName="nickname">
          <div class="invalid-feedback" *ngIf="nickname.invalid && nickname.touched">Shucks, you are not fill in the form field. </div>
          <span class="form-text text-muted">Please enter nickname</span>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-lg-6">
          <label>Department:</label>
          <select class="form-control" [class.is-invalid]="department.invalid && department.touched" id="department"
            formControlName="department">
            <option value="">Choose ...</option>
            <option *ngFor="let department of departmentLists">{{ department.departmentName }}</option>
          </select>
          <div class="invalid-feedback" *ngIf="department.invalid && department.touched">Shucks, you are not choosing department.</div>
          <span class="form-text text-muted">Please choose your department</span>
        </div>
        <div class="col-lg-6">
          <label>Designation:</label>
          <input type="text" class="form-control" [class.is-invalid]="designation.invalid && designation.touched"
            placeholder="Enter your designation" formControlName="designation">
          <div class="invalid-feedback" *ngIf="designation.invalid && designation.touched">Shucks, you are not fill in the form field.</div>
          <span class="form-text text-muted">Please enter your designation</span>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-lg-6">
          <label>Email:</label>
          <input type="email" class="form-control" [class.is-invalid]="email.invalid && email.touched"
            placeholder="Enter email" formControlName="email">
          <div class="invalid-feedback" *ngIf="email.invalid && email.touched">Shucks, your email does not look right. </div>
          <span class="form-text text-muted">Please enter your email</span>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-lg-6">
          <label>Username:</label>
          <p [hidden]="arrData.id == ''" class="form-control-plaintext text-muted">{{arrData.username}}</p>
          <input [hidden]="arrData.id != ''" type="text" class="form-control" [class.is-invalid]="(username.invalid && username.touched) || pending" placeholder="Enter Username" formControlName="username" (keyup)="usernameControl()" [readonly]="usernameLock">
          <div class="invalid-feedback" *ngIf="(username.invalid && username.touched) || pending">Shucks, {{userMsg}}</div>
          <span class="form-text text-muted spinner-left" [class.spinner]="myForm.get('username').pending">Please enter your username</span>
        </div>
        <div class="col-lg-6">
          <label>Password:</label>
          <input type="password" class="form-control" [class.is-invalid]="password.invalid && password.touched" placeholder="Change Paswword" formControlName="password">
          <div class="invalid-feedback" *ngIf="password.invalid && password.touched">Shucks, you are not fill in the password.</div>
          <span class="form-text text-muted">Please enter password</span>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-lg-6">
          <label>User Level:</label>
          <div class="radio-inline">
            <label class="radio radio-solid" [class.is-invalid]="userLevel.invalid && userLevel.touched">
              <input type="radio" formControlName="userLevel" checked="checked"  value="Booking Access"/>
              <span></span>
              Booking Access
            </label>
            <label class="radio radio-solid" [class.is-invalid]="userLevel.invalid && userLevel.touched">
              <input type="radio" formControlName="userLevel"  value="Normal"/>
              <span></span>
              Normal
            </label>
            <label class="radio radio-solid" [class.is-invalid]="userLevel.invalid && userLevel.touched">
              <input type="radio" formControlName="userLevel"  value="Admin"/>
              <span></span>
              Admin
            </label>
            <label class="radio radio-solid" [class.is-invalid]="userLevel.invalid && userLevel.touched">
              <input type="radio" formControlName="userLevel"  value="Administrator"/>
              <span></span>
              Administrator
            </label>
            <label class="radio radio-solid" [class.is-invalid]="userLevel.invalid && userLevel.touched">
              <input type="radio" formControlName="userLevel"  value="Super Administrator"/>
              <span></span>
              Super Administrator
            </label>
          </div>
          <div class="invalid-feedback" *ngIf="userLevel.invalid && userLevel.touched">Shucks, you are not fill in the password.</div>
          <span class="form-text text-muted">Please select user level</span>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="row">
        <div class="col-lg-6">
          <button type="submit" class="btn btn-primary mr-2" [disabled]="myForm.invalid || pending" *ngIf="!loading">Save</button>
          <!-- <button disabled type="button" class="btn btn-primary spinner spinner-white spinner-right" *ngIf="loading"> Primary </button> -->
          <button type="reset" class="btn btn-secondary">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</form>
