<div class="card card-custom card-border">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">
        Login
        <small>system logs limit 300 row from newest to older</small>
      </h3>
    </div>
  </div>
  <div class="card-body" data-scroll="true" data-height="600">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Type</th>
          <th scope="col">Description</th>
          <th scope="col">IP Address</th>
          <th scope="col">Account</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of generalList">
          <th>{{ convertDate(data.created) }}</th>
          <td>{{ data.data2 }}</td>
          <td [class.no-show]="lazy">{{ data.data1 }}</td>
          <td>{{ data.ip }}</td>
          <td>{{ data.person }}</td>
        </tr>
        <tr *ngIf="loader">
          <td colspan="5" style="text-align: center;"> No Data </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
