
<form class="form" [formGroup]="myForm" (submit)="onSubmit()">
  <div class="card card-custom gutter-b" *ngIf="loading">
    <div class="card-body row">
      <button disabled type="button" class="btn btn-square btn-light btn-shadow spinner spinner-dark spinner-left">
        Processing
      </button>
      <span class="mt-4 ml-10 text-danger">{{notFound}}</span>
    </div>
  </div>
  <div class="card card-custom gutter-b" [hidden]="loading">
    <div class="card-header">
      <div class="card-title">
        <h3 class="card-label">
          {{ pageTitle }} Table Setup
        </h3>
      </div>
    </div>
    <div class="card-body">
      <div class="form-group row">
        <label class="col-lg-2 col-form-label text-right">Table Setup Name:</label>
        <div class="col-lg-8">
          <input type="text" class="form-control" [class.is-invalid]="tableSetup.invalid && tableSetup.touched" placeholder="Enter table setup name" formControlName="tableSetup"/>
          <div class="invalid-feedback" *ngIf="tableSetup.invalid && tableSetup.touched">Shucks, you are not fill in the form field.</div>
          <span class="form-text text-muted">Please enter your full name</span>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-10">
          <button [disabled]="myForm.invalid" type="submit" class="btn btn-success mr-2">Submit</button>
          <button type="reset" class="btn btn-secondary">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</form>
