<div class="card card-custom gutter-b">
  <div class="card-header border-0 py-5">
    <h3 class="card-title align-items-start flex-column">
      <span class="card-label font-weight-bolder text-dark">All User</span>
      <!-- <span class="text-muted mt-3 font-weight-bold font-size-sm">More than 400+ new members</span> -->
    </h3>
    <div class="card-toolbar">
      <a routerLink="/system/s/user/user-register" class="btn btn-success font-weight-bolder font-size-sm"><span
          class="svg-icon svg-icon-md svg-icon-white">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px"
            viewBox="0 0 24 24" version="1.1">
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <polygon points="0 0 24 0 24 24 0 24" />
              <path
                d="M18,8 L16,8 C15.4477153,8 15,7.55228475 15,7 C15,6.44771525 15.4477153,6 16,6 L18,6 L18,4 C18,3.44771525 18.4477153,3 19,3 C19.5522847,3 20,3.44771525 20,4 L20,6 L22,6 C22.5522847,6 23,6.44771525 23,7 C23,7.55228475 22.5522847,8 22,8 L20,8 L20,10 C20,10.5522847 19.5522847,11 19,11 C18.4477153,11 18,10.5522847 18,10 L18,8 Z M9,11 C6.790861,11 5,9.209139 5,7 C5,4.790861 6.790861,3 9,3 C11.209139,3 13,4.790861 13,7 C13,9.209139 11.209139,11 9,11 Z"
                fill="#000000" fill-rule="nonzero" opacity="0.3" />
              <path
                d="M0.00065168429,20.1992055 C0.388258525,15.4265159 4.26191235,13 8.98334134,13 C13.7712164,13 17.7048837,15.2931929 17.9979143,20.2 C18.0095879,20.3954741 17.9979143,21 17.2466999,21 C13.541124,21 8.03472472,21 0.727502227,21 C0.476712155,21 -0.0204617505,20.45918 0.00065168429,20.1992055 Z"
                fill="#000000" fill-rule="nonzero" />
            </g>
          </svg>
        </span>Add New Member
      </a>
    </div>
  </div>

  <div class="card-body pt-0 pb-3">
    <div class="table-responsive">
      <table class="table table-head-custom table-head-bg table-borderless table-vertical-center">
        <thead>
          <tr class="text-uppercase">
            <th style="min-width: 250px" class="pl-7"><span class="text-dark-75">Full Name</span></th>
            <th style="min-width: 100px">Username</th>
            <th style="min-width: 100px">User Level</th>
            <th style="min-width: 150px">Status</th>
            <th style="width: 200px">Date Created</th>
            <th style="min-width: 120px"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of userList">
            <td class="pl-0 py-8">
              <div class="d-flex align-items-center">
                <div class="symbol symbol-50 flex-shrink-0 mr-4">
                  <span class="symbol-label font-size-h5">{{ getIcon(user.fullname) }}</span>
                </div>
                <div>
                  <a href="#"
                    class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg">{{ user.fullname }}</a>
                  <span class="text-muted font-weight-bold d-block">{{ user.department }}</span>
                </div>
              </div>
            </td>
            <td>
              <span class="text-muted font-weight-bold">
                {{ user.username }}
              </span>
            </td>
            <td>
              <span class="text-muted font-weight-bold">
                {{ user.userLevel }}
              </span>
            </td>
            <td>
              <span class="label label-lg label-light-primary label-inline" *ngIf="user.status == 'active'">{{ user.status }}</span>
              <span class="label label-lg label-light-danger label-inline" *ngIf="user.status == 'deleted'">{{ user.status }}</span>
            </td>
            <td>
              <span class="text-dark-75">
                {{ user.created }}
              </span>
            </td>
            <td class="text-right pr-0" *ngIf="user.status == 'active'">
              <a routerLink="/system/s/user/user-register/{{ user._id }}" class="btn btn-icon btn-light btn-hover-primary btn-sm mr-3">
                <span class="svg-icon svg-icon-md svg-icon-primary">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <rect x="0" y="0" width="24" height="24"/>
                        <path d="M8,17.9148182 L8,5.96685884 C8,5.56391781 8.16211443,5.17792052 8.44982609,4.89581508 L10.965708,2.42895648 C11.5426798,1.86322723 12.4640974,1.85620921 13.0496196,2.41308426 L15.5337377,4.77566479 C15.8314604,5.0588212 16,5.45170806 16,5.86258077 L16,17.9148182 C16,18.7432453 15.3284271,19.4148182 14.5,19.4148182 L9.5,19.4148182 C8.67157288,19.4148182 8,18.7432453 8,17.9148182 Z" fill="#000000" fill-rule="nonzero" transform="translate(12.000000, 10.707409) rotate(-135.000000) translate(-12.000000, -10.707409) "/>
                        <rect fill="#000000" opacity="0.3" x="5" y="20" width="15" height="2" rx="1"/>
                    </g>
                  </svg>
                </span>
              </a>
              <a (click)="onDelete(user._id, 'delete', user.username)" class="btn btn-icon btn-light btn-hover-primary btn-sm">
                <span class="svg-icon svg-icon-md svg-icon-primary">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                    height="24px" viewBox="0 0 24 24" version="1.1">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <rect x="0" y="0" width="24" height="24" />
                      <path d="M6,8 L6,20.5 C6,21.3284271 6.67157288,22 7.5,22 L16.5,22 C17.3284271,22 18,21.3284271 18,20.5 L18,8 L6,8 Z" fill="#000000" fill-rule="nonzero" />
                      <path d="M14,4.5 L14,4 C14,3.44771525 13.5522847,3 13,3 L11,3 C10.4477153,3 10,3.44771525 10,4 L10,4.5 L5.5,4.5 C5.22385763,4.5 5,4.72385763 5,5 L5,5.5 C5,5.77614237 5.22385763,6 5.5,6 L18.5,6 C18.7761424,6 19,5.77614237 19,5.5 L19,5 C19,4.72385763 18.7761424,4.5 18.5,4.5 L14,4.5 Z" fill="#000000" opacity="0.3" />
                    </g>
                  </svg>
                </span>
              </a>
            </td>
            <td class="text-right pr-0" *ngIf="user.status == 'deleted'">
              <a (click)="onDelete(user._id, 'activate', user.username)" class="btn btn-icon btn-light btn-hover-primary btn-sm">
                <span class="svg-icon svg-icon-md svg-icon-primary">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <polygon points="0 0 24 0 24 24 0 24"/>
                      <path d="M6.26193932,17.6476484 C5.90425297,18.0684559 5.27315905,18.1196257 4.85235158,17.7619393 C4.43154411,17.404253 4.38037434,16.773159 4.73806068,16.3523516 L13.2380607,6.35235158 C13.6013618,5.92493855 14.2451015,5.87991302 14.6643638,6.25259068 L19.1643638,10.2525907 C19.5771466,10.6195087 19.6143273,11.2515811 19.2474093,11.6643638 C18.8804913,12.0771466 18.2484189,12.1143273 17.8356362,11.7474093 L14.0997854,8.42665306 L6.26193932,17.6476484 Z" fill="#000000" fill-rule="nonzero" transform="translate(11.999995, 12.000002) rotate(-180.000000) translate(-11.999995, -12.000002) "/>
                    </g>
                  </svg>
                </span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
