<div class="modal fade" id="modalInfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalSizeXl" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Event Information </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <i aria-hidden="true" class="ki ki-close"></i>
              </button>
          </div>
          <div class="modal-body" *ngFor="let data of singleEventArray">
            <div class="card card-custom color-code-1 radius-top" id="pane-detail">
              <div class="card-body row">
                <div class="col-lg-3 font-weight-bold pb-5"> Event </div>
                <div class="col-lg-3">: {{ data.eventName }} </div>
                <div class="col-lg-3 font-weight-bold"> Venue </div>
                <div class="col-lg-3">: {{ data.venue }}  </div>

                <div class="col-lg-3 font-weight-bold pb-5"> Book by </div>
                <div class="col-lg-3">: {{ data.requestBy }} </div>
                <div class="col-lg-3 font-weight-bold"> From Department </div>
                <div class="col-lg-3">: {{ data.requestDepartment }} </div>

                <div class="col-lg-3 font-weight-bold"> Start Time </div>
                <div class="col-lg-3">: {{ convertDate(data.startDate, 'date1') }}</div>
                <div class="col-lg-3 font-weight-bold"> Finish Time </div>
                <div class="col-lg-3">: {{ convertDate(data.endDate, 'date1') }}</div>

              </div>
            </div>
            <div class="separator separator-dashed separator-border-2"></div>
            <div class="card card-custom color-code-2 radius-no" id="pane-it" [class.color-code-no]="!data.reqIT">
              <div class="card-body row">
                <div class="col-lg-12 row">
                  <div class="col-lg-3 font-weight-bold pb-5"> Require IT Setup </div>
                  <div class="col-lg-9">
                    : <span class="label label-lg label-primary label-inline" *ngIf="data.reqIT">Yes</span>
                    <span class="label label-lg label-dark label-inline" *ngIf="!data.reqIT">No</span>
                  </div>
                </div>
                <div class="col-lg-12 row" *ngIf="data.reqIT">
                  <div class="col-lg-3 font-weight-bold pb-5"> Need Laptop </div>
                  <div class="col-lg-3">: <span *ngIf="data.needNB">Yes</span><span *ngIf="!data.needNB">No</span> </div>
                  <div class="col-lg-3 font-weight-bold"> Need LCD Projector </div>
                  <div class="col-lg-3">: <span *ngIf="data.needLcd">Yes</span><span *ngIf="!data.needLcd">No</span> </div>

                  <div class="col-lg-3 font-weight-bold pb-5"> Need Audio </div>
                  <div class="col-lg-3">: <span *ngIf="data.needAudio">Yes</span><span *ngIf="!data.needAudio">No</span> </div>
                  <div class="col-lg-3 font-weight-bold"> Need Microphone </div>
                  <div class="col-lg-3">: <span *ngIf="data.needMic">Yes</span><span *ngIf="!data.needMic">No</span> </div>

                  <div class="col-lg-3 font-weight-bold"> Need Laser Pointer/ Presenter <br>  <span class="text-muted font-weight-bold"> (based on availability only) </span> </div>
                  <div class="col-lg-3">: <span *ngIf="data.needPointer">Yes</span><span *ngIf="!data.needPointer">No</span> </div>
                  <div class="col-lg-3 font-weight-bold"> Remark for IT </div>
                  <div class="col-lg-3">: {{ data.remarkIT }} </div>
                </div>
              </div>
            </div>
            <div class="separator separator-dashed separator-border-2"></div>
            <div class="card card-custom color-code-3 radius-no" id="pane-cf" [class.color-code-no]="!data.reqCafe">
              <div class="card-body row">
                <div class="col-lg-12 row">
                  <div class="col-lg-3 font-weight-bold pb-5"> Require F&B </div>
                  <div class="col-lg-9">
                    : <span class="label label-lg label-primary label-inline" *ngIf="data.reqCafe">Yes</span>
                    <span class="label label-lg label-dark label-inline" *ngIf="!data.reqCafe">No</span>
                  </div>
                </div>
                <div class="col-lg-12 row" *ngIf="data.reqCafe">
                  <div class="col-lg-3 font-weight-bold"> Cafe Menu </div>
                  <div class="col-lg-3">: {{ data.cafeMenu }}  </div>
                  <div class="col-lg-3 font-weight-bold"> Remarks for Cafe </div>
                  <div class="col-lg-3">: {{ data.remarkCafe }}  </div>
                </div>
              </div>
            </div>
            <div class="separator separator-dashed separator-border-2"></div>
            <div class="card card-custom color-code-4 radius-no" id="pane-hk">
              <div class="card-body row">
                <div class="col-lg-12 row">
                  <div class="col-lg-3 font-weight-bold pb-5"> Require Housekeeping Setup </div>
                  <div class="col-lg-9">: <span class="label label-lg label-primary label-inline">Yes</span> </div>
                </div>
                <div class="col-lg-12 row">
                  <div class="col-lg-3 font-weight-bold pb-5"> Setup Layout </div>
                  <div class="col-lg-3">: {{ data.layout }} </div>
                  <div class="col-lg-3 font-weight-bold"> No of pax </div>
                  <div class="col-lg-3">: {{ data.noPax }} </div>

                  <div class="col-lg-3 font-weight-bold"> Remarks for Housekeeping </div>
                  <div class="col-lg-9">: {{ data.remarkHK }} </div>
                </div>
              </div>
            </div>
            <div class="separator separator-dashed separator-border-2"></div>
            <div class="card card-custom color-code-5 radius-no" id="pane-pr" [class.color-code-no]="!data.reqPark">
              <div class="card-body row">
                <div class="col-lg-3 font-weight-bold pb-5"> Reserve Carpark </div>
                <div class="col-lg-9">
                  : <span class="label label-lg label-primary label-inline" *ngIf="data.reqPark">Yes</span>
                  <span class="label label-lg label-dark label-inline" *ngIf="!data.reqPark">No</span>
                </div>
                <div class="col-lg-12 row" *ngIf="data.reqPark">
                  <div class="col-lg-3 font-weight-bold pb-5"> Valet Parking </div>
                  <div class="col-lg-3">: {{ data.noValet }} </div>
                  <div class="col-lg-3 font-weight-bold"> Normal Parking </div>
                  <div class="col-lg-3">: {{ data.noNormal }} </div>

                  <div class="col-lg-3 font-weight-bold"> Valet Parking Remarks </div>
                  <div class="col-lg-3">: {{ data.remarkValet }} </div>
                  <div class="col-lg-3 font-weight-bold"> Normal Parking Remarks </div>
                  <div class="col-lg-3">: {{ data.remarkNormal }} </div>
                </div>
              </div>
            </div>
            <div class="separator separator-dashed separator-border-2"></div>
            <div class="card card-custom color-code-1 radius-bottom" id="pane-last">
              <div class="card-body row">
                <div class="col-lg-12 row">
                  <div class="col-lg-3 font-weight-bold"> Date Created </div>
                  <div class="col-lg-3">: {{ convertDate(data.created, 'date2') }} </div>
                  <div class="col-lg-3 font-weight-bold"> Overall Remarks </div>
                  <div class="col-lg-3">: {{ data.remarkOverall }} </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Close</button>
          </div>
      </div>
  </div>
</div>

