<div class="card card-custom">
	<div class="card-header">
		<div class="card-title">
			<h3 class="card-label">
        IT Training Room
        <small>Booking</small>
			</h3>
		</div>
  </div>
  <form class="form" [formGroup]="myForm" (submit)="onSubmit()">
    <div class="card-body">
      <div class="form-group row">
        <div class="col-lg-6">
          <label>Date Start:</label>
          <input type="datetime-local" class="form-control" [class.is-invalid]="dateStart.invalid && dateStart.touched"  formControlName="dateStart"/>
          <span class="form-text text-muted">Please enter date and time start start</span>
        </div>
        <div class="col-lg-6">
          <label>Date End:</label>
          <input type="datetime-local" class="form-control" [class.is-invalid]="dateEnd.invalid && dateEnd.touched"  formControlName="dateEnd"/>
          <span class="form-text text-muted">Please enter date and time end</span>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-lg-6">
          <label>Room:</label>
          <input type="text" class="form-control" [class.is-invalid]="room.invalid && room.touched"  formControlName="room"/>
        </div>
        <div class="col-lg-6">
          <label>Event:</label>
          <input type="text" class="form-control" [class.is-invalid]="event.invalid && event.touched"  formControlName="event"/>
          <span class="form-text text-muted">Please enter event name</span>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-lg-6">
          <label>Person Booking:</label>
          <input type="text" class="form-control" [class.is-invalid]="person.invalid && person.touched" formControlName="person"/>
          <span class="form-text text-muted">Please enter person name</span>
        </div>
        <div class="col-lg-6">
          <label>Department:</label>
          <select class="form-control" [class.is-invalid]="department.invalid && department.touched" formControlName="department">
            <option value="">Choose</option>
            <option *ngFor="let department of departmentLists">{{ department.departmentName }}</option>
          </select>
          <span class="form-text text-muted">Please choose person deparment</span>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-lg-6">
          <label>No of Pax:</label>
          <input type="text" class="form-control" formControlName="pax"/>
          <span class="form-text text-muted">Please enter number of pax</span>
        </div>
        <div class="col-lg-6">
          <label>Remark:</label>
          <input type="text" class="form-control" formControlName="remark"/>
          <span class="form-text text-muted">Please enter remark if any</span>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="row">
        <div class="col-lg-12 text-right">
          <button type="reset" class="btn btn-secondary mr-2">Reset</button>
          <button [disabled]="myForm.invalid" type="submit" class="btn btn-primary">Save</button>
        </div>
      </div>
    </div>
  </form>
</div>
