<div class="modal fade" id="historyModalList" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Event History List <small>Order by newest change activity</small></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <i aria-hidden="true" class="ki ki-close"></i>
              </button>
          </div>
          <div class="modal-body">
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-head-custom table-vertical-center" id="kt_advance_table_widget_2">
                  <thead>
                    <tr class="text-uppercase">
                      <th class="pl-0" style="min-width: 220px">Event</th>
                      <th style="min-width: 120px">Book Person</th>
                      <th style="min-width: 150px">Location</th>
                      <th style="min-width: 120px">Start</th>
                      <th style="min-width: 120px">End</th>
                      <th style="min-width: 220px">Last Modified</th>
                      <th class="pr-0 text-right" style="min-width: 180px">action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let list of historyArray">
                      <td class="pl-0">
                        <span class="text-dark-75 font-weight-bolder d-block font-size-lg"> {{ list.eventName }} </span>
                      </td>
                      <td>
                        <span class="text-dark-75 font-weight-bold d-block font-size-lg">
                          {{ list.requestBy }}
                        </span>
                        <span class="text-muted font-weight-bold">
                          {{ list.requestDepartment }}
                        </span>
                      </td>
                      <td>
                        <span class="text-dark-75 font-weight-bold d-block font-size-lg">
                          {{ list.venue }}
                        </span>
                      </td>
                      <td>
                        <span class="text-dark-75 font-weight-bold d-block font-size-lg">
                          {{ convertDate(list.startDate, 'time') }}
                        </span>
                        <span class="text-muted font-weight-bold">
                          {{ convertDate(list.startDate, 'date') }}
                        </span>
                      </td>
                      <td>
                        <span class="text-dark-75 font-weight-bold d-block font-size-lg">
                          {{ convertDate(list.endDate, 'time') }}
                        </span>
                        <span class="text-muted font-weight-bold">
                          {{ convertDate(list.endDate, 'date') }}
                        </span>
                      </td>
                      <td>
                        <span class="text-dark-75 font-weight-bold d-block font-size-lg">
                          {{ convertDate(list.created, 'created') }}
                        </span>
                      </td>
                      <td class="pr-0 text-right">
                        <a class="btn btn-icon btn-light btn-hover-primary btn-sm" (click)="pushEventID(list._id)" title="Event Details">
                          <span class="svg-icon svg-icon-md svg-icon-primary">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                              height="24px" viewBox="0 0 24 24" version="1.1">
                              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <rect x="0" y="0" width="24" height="24" />
                                <path
                                  d="M7,3 L17,3 C19.209139,3 21,4.790861 21,7 C21,9.209139 19.209139,11 17,11 L7,11 C4.790861,11 3,9.209139 3,7 C3,4.790861 4.790861,3 7,3 Z M7,9 C8.1045695,9 9,8.1045695 9,7 C9,5.8954305 8.1045695,5 7,5 C5.8954305,5 5,5.8954305 5,7 C5,8.1045695 5.8954305,9 7,9 Z"
                                  fill="#000000" />
                                <path
                                  d="M7,13 L17,13 C19.209139,13 21,14.790861 21,17 C21,19.209139 19.209139,21 17,21 L7,21 C4.790861,21 3,19.209139 3,17 C3,14.790861 4.790861,13 7,13 Z M17,19 C18.1045695,19 19,18.1045695 19,17 C19,15.8954305 18.1045695,15 17,15 C15.8954305,15 15,15.8954305 15,17 C15,18.1045695 15.8954305,19 17,19 Z"
                                  fill="#000000" opacity="0.3" />
                              </g>
                            </svg>
                          </span>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Close</button>
          </div>
      </div>
  </div>
</div>


<button id="historyModalInfoBtn" type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalHistoryInfo" style="display: none;">
  Launch demo modal
</button>

<div class="modal fade" id="modalHistoryInfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalSizeXl" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Event Information </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <i aria-hidden="true" class="ki ki-close"></i>
              </button>
          </div>
          <div class="modal-body" *ngFor="let data of arrEventHistorySingle">
            <div class="card card-custom color-code-1 radius-top" id="pane-detail">
              <div class="card-body row">
                <div class="col-lg-3 font-weight-bold pb-5"> Event </div>
                <div class="col-lg-3">: {{ data.eventName }} </div>
                <div class="col-lg-3 font-weight-bold"> Venue </div>
                <div class="col-lg-3">: {{ data.venue }}  </div>

                <div class="col-lg-3 font-weight-bold pb-5"> Book by </div>
                <div class="col-lg-3">: {{ data.requestBy }} </div>
                <div class="col-lg-3 font-weight-bold"> From Department </div>
                <div class="col-lg-3">: {{ data.requestDepartment }} </div>

                <div class="col-lg-3 font-weight-bold"> Start Time </div>
                <div class="col-lg-3">: {{ convertDate(data.startDate, 'date1') }}</div>
                <div class="col-lg-3 font-weight-bold"> Finish Time </div>
                <div class="col-lg-3">: {{ convertDate(data.endDate, 'date1') }}</div>

              </div>
            </div>
            <div class="separator separator-dashed separator-border-2"></div>
            <div class="card card-custom color-code-2 radius-no" id="pane-it" [class.color-code-no]="!data.reqIT">
              <div class="card-body row">
                <div class="col-lg-12 row">
                  <div class="col-lg-3 font-weight-bold pb-5"> Require IT Setup </div>
                  <div class="col-lg-9">
                    : <span class="label label-lg label-primary label-inline" *ngIf="data.reqIT">Yes</span>
                    <span class="label label-lg label-dark label-inline" *ngIf="!data.reqIT">No</span>
                  </div>
                </div>
                <div class="col-lg-12 row" *ngIf="data.reqIT">
                  <div class="col-lg-3 font-weight-bold pb-5"> Need Laptop </div>
                  <div class="col-lg-3">: <span *ngIf="data.needNB">Yes</span><span *ngIf="!data.needNB">No</span> </div>
                  <div class="col-lg-3 font-weight-bold"> Need LCD Projector </div>
                  <div class="col-lg-3">: <span *ngIf="data.needLcd">Yes</span><span *ngIf="!data.needLcd">No</span> </div>

                  <div class="col-lg-3 font-weight-bold pb-5"> Need Audio </div>
                  <div class="col-lg-3">: <span *ngIf="data.needAudio">Yes</span><span *ngIf="!data.needAudio">No</span> </div>
                  <div class="col-lg-3 font-weight-bold"> Need Microphone </div>
                  <div class="col-lg-3">: <span *ngIf="data.needMic">Yes</span><span *ngIf="!data.needMic">No</span> </div>

                  <div class="col-lg-3 font-weight-bold"> Need Laser Pointer/ Presenter <br>  <span class="text-muted font-weight-bold"> (based on availability only) </span> </div>
                  <div class="col-lg-3">: <span *ngIf="data.needPointer">Yes</span><span *ngIf="!data.needPointer">No</span> </div>
                  <div class="col-lg-3 font-weight-bold"> Remark for IT </div>
                  <div class="col-lg-3">: {{ data.remarkIT }} </div>
                </div>
              </div>
            </div>
            <div class="separator separator-dashed separator-border-2"></div>
            <div class="card card-custom color-code-3 radius-no" id="pane-cf" [class.color-code-no]="!data.reqCafe">
              <div class="card-body row">
                <div class="col-lg-12 row">
                  <div class="col-lg-3 font-weight-bold pb-5"> Require F&B </div>
                  <div class="col-lg-9">
                    : <span class="label label-lg label-primary label-inline" *ngIf="data.reqCafe">Yes</span>
                    <span class="label label-lg label-dark label-inline" *ngIf="!data.reqCafe">No</span>
                  </div>
                </div>
                <div class="col-lg-12 row" *ngIf="data.reqCafe">
                  <div class="col-lg-3 font-weight-bold"> Cafe Menu </div>
                  <div class="col-lg-3">: {{ data.cafeMenu }}  </div>
                  <div class="col-lg-3 font-weight-bold"> Remarks for Cafe </div>
                  <div class="col-lg-3">: {{ data.remarkCafe }}  </div>
                </div>
              </div>
            </div>
            <div class="separator separator-dashed separator-border-2"></div>
            <div class="card card-custom color-code-4 radius-no" id="pane-hk">
              <div class="card-body row">
                <div class="col-lg-12 row">
                  <div class="col-lg-3 font-weight-bold pb-5"> Require Housekeeping Setup </div>
                  <div class="col-lg-9">: <span class="label label-lg label-primary label-inline">Yes</span> </div>
                </div>
                <div class="col-lg-12 row">
                  <div class="col-lg-3 font-weight-bold pb-5"> Setup Layout </div>
                  <div class="col-lg-3">: {{ data.layout }} </div>
                  <div class="col-lg-3 font-weight-bold"> No of pax </div>
                  <div class="col-lg-3">: {{ data.noPax }} </div>

                  <div class="col-lg-3 font-weight-bold"> Remarks for Housekeeping </div>
                  <div class="col-lg-9">: {{ data.remarkHK }} </div>
                </div>
              </div>
            </div>
            <div class="separator separator-dashed separator-border-2"></div>
            <div class="card card-custom color-code-5 radius-no" id="pane-pr" [class.color-code-no]="!data.reqPark">
              <div class="card-body row">
                <div class="col-lg-3 font-weight-bold pb-5"> Reserve Carpark </div>
                <div class="col-lg-9">
                  : <span class="label label-lg label-primary label-inline" *ngIf="data.reqPark">Yes</span>
                  <span class="label label-lg label-dark label-inline" *ngIf="!data.reqPark">No</span>
                </div>
                <div class="col-lg-12 row" *ngIf="data.reqPark">
                  <div class="col-lg-3 font-weight-bold pb-5"> Valet Parking </div>
                  <div class="col-lg-3">: {{ data.noValet }} </div>
                  <div class="col-lg-3 font-weight-bold"> Normal Parking </div>
                  <div class="col-lg-3">: {{ data.noNormal }} </div>

                  <div class="col-lg-3 font-weight-bold"> Valet Parking Remarks </div>
                  <div class="col-lg-3">: {{ data.remarkValet }} </div>
                  <div class="col-lg-3 font-weight-bold"> Normal Parking Remarks </div>
                  <div class="col-lg-3">: {{ data.remarkNormal }} </div>
                </div>
              </div>
            </div>
            <div class="separator separator-dashed separator-border-2"></div>
            <div class="card card-custom color-code-1 radius-bottom" id="pane-last">
              <div class="card-body row">
                <div class="col-lg-12 row">
                  <div class="col-lg-3 font-weight-bold"> Date Created </div>
                  <div class="col-lg-3">: {{ convertDate(data.created, 'date2') }} </div>
                  <div class="col-lg-3 font-weight-bold"> Overall Remarks </div>
                  <div class="col-lg-3">: {{ data.remarkOverall }} </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Close</button>
          </div>
      </div>
  </div>
</div>


