.color-code-1 { background-color: #F0F0FF; }
.color-code-2 { background-color: #F0FFFF; }
.color-code-3 { background-color: #F0FFF0; }
.color-code-4 { background-color: #E0E0FF; }
.color-code-5 { background-color: #FFFFDB; }
.color-code-no { background-color: #999999; }

.separator-black { border-bottom: 1px solid #5d5d5d }

.radius-no { border-radius: unset !important; }
.radius-top { border-radius: 0.42rem 0.42rem 0rem 0rem; }
.radius-bottom { border-radius: 0rem 0rem 0.42rem 0.42rem; }
