<div class="alert alert-custom alert-notice alert-light-warning fade show" role="alert" *ngIf="showAlertBrowser">
  <div class="alert-icon"><i class="flaticon-warning"></i></div>
  <div class="alert-text">Please use <b>Chrome</b> browser to fully utilize the feature within this system</div>
</div>
<div class="d-flex w-100 flex-center p-15 position-relative overflow-hidden">
  <div class="login-wrapper col-lg-4 p-20 card card-custom gutter-b" style="background-image: url(assets/media/bg/bg-3.jpg);">
    <div class="login-signin">
      <div class="text-center">
        <h2 class="font-weight-bold">Sign In</h2>
        <p class="text-muted font-weight-bold">Enter your username and password</p>
      </div>
      <form class="form text-left mt-20" id="kt_login_signin_form" [formGroup]="myForm" (submit)="onSubmit()">
        <div class="alert alert-custom alert-notice alert-light-danger fade show" role="alert" *ngIf="failure">
          <div class="alert-text">{{ msg }}</div>
          <div class="alert-close">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="initLoginForm()">
              <span aria-hidden="true"><i class="ki ki-close"></i></span>
            </button>
          </div>
        </div>
        <div class="form-group py-2 m-0">
          <input class="form-control h-auto border-0 px-0 placeholder-dark-75" type="text" placeholder="Username" autocomplete="off" formControlName="username"/>
        </div>
        <div class="form-group py-2 border-top m-0">
          <input class="form-control h-auto border-0 px-0 placeholder-dark-75" type="Password" placeholder="Password" formControlName="password" />
        </div>
        <div class="text-center mt-8">
          <button  type="submit" class="btn btn-primary btn-pill shadow-sm font-weight-bold" *ngIf="!loading" [disabled]="myForm.invalid">
            Sign In
          </button>
          <button disabled  class="btn btn-primary btn-pill spinner spinner-white spinner-right" *ngIf="loading">
            Sign In
          </button>
        </div>
      </form>
    </div>
    <div class="col-lg-12" style="margin-top: 20px; text-align: center;">
      <span style="text-align: center;color: #fefefe;" >{{ ipAddress }}</span>
    </div>
  </div>
</div>
