<div class="card card-custom" >
	<div class="card-header">
		<div class="card-title">
			<h3 class="card-label">
				IT Loan
				<small>for Notebook / LCD Projector</small>
			</h3>
		</div>
  </div>
  <form class="form" [formGroup]="myForm" (submit)="onSubmit()">
	<div class="card-body">
		<div class="form-group row">
			<div class="col-lg-6">
				<label><span class="text-red">* </span>Date Borrow:</label>
				<input type="datetime-local" class="form-control" [class.is-invalid]="dateBorrow.invalid && dateBorrow.touched"  formControlName="dateBorrow"/>
				<span class="form-text text-muted">Please enter date and time start borrow</span>
			</div>
			<div class="col-lg-6">
				<label><span class="text-red">* </span>Date Return:</label>
				<input type="datetime-local" class="form-control" [class.is-invalid]="dateReturn.invalid && dateReturn.touched"  formControlName="dateReturn"/>
				<span class="form-text text-muted">Please enter date and time return</span>
			</div>
		</div>
		<div class="form-group row">
			<div class="col-lg-6">
				<label>LCD Projector:</label>
        <div class="row">
          <div class="col-lg-2">
            <span class="switch switch-icon">
              <label>
                <input type="checkbox" formControlName="reqLCD" (change)="showCode('LCD')"/>
                <span></span>
              </label>
            </span>
          </div>
          <div class="col-lg-6">
            <input type="text" class="form-control" [hidden]="!showCodeLCD" formControlName="codeLCD"/>
          </div>
        </div>
				<span class="form-text text-muted">If yes please include IT number</span>
			</div>
			<div class="col-lg-6">
				<label>Notebook:</label>
        <div class="row">
          <div class="col-lg-2">
            <span class="switch switch-icon">
              <label>
                <input type="checkbox" formControlName="reqNB" (change)="showCode('NB')"/>
                <span></span>
              </label>
            </span>
          </div>
          <div class="col-lg-6">
            <input type="text" class="form-control" [hidden]="!showCodeNB" formControlName="codeNB"/>
          </div>
        </div>
				<span class="form-text text-muted">If yes please include IT number</span>
			</div>
		</div>
		<div class="form-group row">
      <div class="col-lg-6">
				<label><span class="text-red">* </span>Person Booking:</label>
				<input type="text" class="form-control" [class.is-invalid]="person.invalid && person.touched" formControlName="person"/>
				<span class="form-text text-muted">Please enter person name</span>
			</div>
			<div class="col-lg-6">
				<label><span class="text-red">* </span>Department:</label>
				<select class="form-control" [class.is-invalid]="department.invalid && department.touched" formControlName="department">
					<option value="">Choose</option>
					<option *ngFor="let department of departmentLists">{{ department.departmentName }}</option>
				</select>
				<span class="form-text text-muted">Please choose person</span>
			</div>
		</div>
		<div class="form-group row">
      <div class="col-lg-6">
				<label><span class="text-red">* </span>Event Name:</label>
				<input type="text" class="form-control" [class.is-invalid]="event.invalid && event.touched" formControlName="event"/>
				<span class="form-text text-muted">Please enter event name</span>
			</div>
			<div class="col-lg-6">
				<label><span class="text-red">* </span>Event Location:</label>
				<input type="text" class="form-control" [class.is-invalid]="location.invalid && location.touched" formControlName="location"/>
				<span class="form-text text-muted">Please event location</span>
			</div>
    </div>
    <div class="form-group row">
      <div class="col-lg-12">
				<label>Remark:</label>
				<input type="text" class="form-control" formControlName="remark"/>
				<span class="form-text text-muted">Please enter remark if any</span>
			</div>
		</div>
	</div>
	<div class="card-footer">
		<div class="row">
			<div class="col-lg-12 text-right">
				<button type="reset" class="btn btn-secondary mr-2">Reset</button>
				<button [disabled]="myForm.invalid" type="submit" class="btn btn-primary">Submit</button>
			</div>
		</div>
	</div>
</form>
</div>
