
<form [formGroup]="myForm" (submit)="onSubmit()">
  <div class="card card-custom gutter-b" *ngIf="loading">
    <div class="card-body row">
      <button disabled type="button" class="btn btn-square btn-light btn-shadow spinner spinner-dark spinner-left">
        Processing
      </button>
      <span class="mt-4 ml-10 text-danger">{{notFound}}</span>
    </div>
  </div>
  <div class="card card-custom gutter-b" [hidden]="loading">
    <div class="card-header">
      <div class="card-title">
        <h3 class="card-label">
          {{ pageTitle }} Department
        </h3>
      </div>
    </div>
    <div class="card-body">
      <div class="form-group row">
        <div class="col-lg-6">
          <label>Department Name:</label>
          <input type="text" class="form-control" placeholder="Enter department name" [class.is-invalid]="departmentName.invalid && departmentName.touched" formControlName="departmentName" />
          <span class="form-text text-muted">Please enter department name</span>
        </div>
        <div class="col-lg-6">
          <label>Department Incharge:</label>
          <input type="text" class="form-control" placeholder="Enter department incharge" [class.is-invalid]="departmentIncharge.invalid && departmentIncharge.touched" formControlName="departmentIncharge" />
          <span class="form-text text-muted">Please enter department incharge</span>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="row">
        <div class="col-lg-6">
          <button type="submit" class="btn btn-primary mr-2">Save</button>
          <button type="reset" class="btn btn-secondary">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</form>
