<form [formGroup]="myForm" (submit)="onSubmit()">
  <div class="card card-custom gutter-b" *ngIf="loading">
    <div class="card-body row">
      <button disabled type="button" class="btn btn-square btn-light btn-shadow spinner spinner-dark spinner-left">
        Processing
      </button>
      <span class="mt-4 ml-10 text-danger">{{notFound}}</span>
    </div>
  </div>
  <div class="card card-custom gutter-b" [hidden]="loading">
    <div class="card-header">
      <div class="card-title">
        <h3 class="card-label">
          {{ pageTitle }} Holiday
        </h3>
      </div>
    </div>
    <div class="card-body">
      <div class="form-group row">
        <div class="col-lg-6">
          <label>Date:</label>
          <input type="date" class="form-control" [class.is-invalid]="holidayDate.invalid && holidayDate.touched" formControlName="holidayDate"/>
        </div>
        <div class="col-lg-6">
          <label>Holiday Title:</label>
          <input type="text" class="form-control" placeholder="Enter holiday title" [class.is-invalid]="holidayTitle.invalid && holidayTitle.touched" formControlName="holidayTitle"/>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="row">
        <div class="col-lg-6">
          <button [disabled]="myForm.invalid" type="submit" class="btn btn-primary mr-2">Save</button>
          <button type="reset" class="btn btn-secondary">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</form>
