<div class="content  d-flex flex-column flex-column-fluid" id="kt_content" >
  <div class="d-flex flex-column-fluid">
    <div class=" container "  style="height: 100%;">
      <div class="row mt-0 mt-lg-3">
        <div class="col-xl-12">
          <!-- <div class="card card-custom gutter-b card-stretch"> -->
            <!-- <div class="container"> -->
              <router-outlet></router-outlet>
            <!-- </div> -->
          <!-- </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
