<div class="card card-custom card-border">
  <div class="card-header border-0 py-5">
    <h3 class="card-title align-items-start flex-column">
      <span class="card-label font-weight-bolder text-dark">List of IT Training Room</span>
      <span class="text-muted mt-3 font-weight-bold font-size-sm">Total : {{ getLength('room') }}</span>
    </h3>
    <div class="card-toolbar">
      <a routerLink="/system/s/booking/it-register" class="btn btn-info font-weight-bolder font-size-sm"  data-dismiss="modal">New Booking</a>
    </div>
  </div>
  <div class="card-body py-0">
    <div class="table-responsive">
      <table class="table table-head-custom table-vertical-center" id="kt_advance_table_widget_2">
        <thead>
          <tr class="text-uppercase">
            <th class="pl-0" style="min-width: 100px">User</th>
            <th style="min-width: 120px">Event</th>
            <th style="min-width: 150px">Pax</th>
            <th style="min-width: 130px">From</th>
            <th style="min-width: 130px">To</th>
            <th style="min-width: 130px">Remark</th>
            <th class="pr-0 text-right" style="min-width: 160px">action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let list1 of roomList">
            <td class="pl-0">
              <span class="text-dark-75 font-weight-bolder text-hover-primary font-size-lg">{{list1.person}}</span>
            </td>
            <td>
              <span class="text-dark-75 text-hover-primary font-size-lg">{{list1.event}}</span>
            </td>
            <td>
              <span class="text-dark-75 text-hover-primary font-size-lg">{{list1.pax}}</span>
            </td>
            <td>
              <span class="text-dark-75 d-block font-size-lg">
                {{ convertDate(list1.dateStart, 'date') }}
              </span>
              <span class="text-muted font-weight-bold">
                {{ convertDate(list1.dateStart, 'time') }}
              </span>
            </td>
            <td>
              <span class="text-dark-75 d-block font-size-lg">
                {{ convertDate(list1.dateEnd, 'date') }}
              </span>
              <span class="text-muted font-weight-bold">
                {{ convertDate(list1.dateEnd, 'time') }}
              </span>
            </td>
            <td>
              <span class="text-dark-75 text-hover-primary font-size-lg">{{list1.remark}}</span>
            </td>
            <td class="pr-0 text-right">
              <a (click)="onEnd(list1._id, list1.event)" class="btn btn-hover-bg-success btn-text-success btn-hover-text-white border-0 font-weight-bold mr-2">End</a>
            </td>
          </tr>
          <tr *ngIf="getLength('room') == 0">
            <td colspan="8" class="custom-no-data">No Data</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
