<form class="form"  [formGroup]="myForm" (submit)="onSubmit()">
  <div class="card card-custom gutter-b" *ngIf="loading">
    <div class="card-body row">
      <button disabled type="button" class="btn btn-square btn-light btn-shadow spinner spinner-dark spinner-left">
        Processing
      </button>
      <span class="mt-4 ml-10 text-danger">{{notFound}}</span>
    </div>
  </div>
  <div class="card card-custom gutter-b" [hidden]="loading">
    <div class="card-header">
      <div class="card-title">
        <h3 class="card-label">
          {{ cardTitle }}
          <small>created by: {{ getLocalS('asd') }}</small>
        </h3>
      </div>
    </div>
    <div class="card-body">
      <div [hidden]="!controlError" class="alert alert-custom alert-outline-warning fade show mb-5" role="alert">
          <div class="alert-icon"><i class="flaticon-warning"></i></div>
          <div class="alert-text">{{ msgError }}</div>
      </div>
      <div class="form-group row">
        <div class="col-lg-12">
          <h3 class=" text-dark font-weight-bold mb-10">1. Date of Event:</h3>
        </div>
        <label class="col-lg-2 col-form-label text-right"><span class="text-red">* </span>Start Date:</label>
        <div class="col-lg-3">
          <input type="datetime-local" class="form-control" [class.is-invalid]="startDate.invalid && startDate.touched" formControlName="startDate" (change)="eventValidation()" [min]="minDate"/>
            <div class="invalid-feedback" *ngIf="startDate.invalid && startDate.touched">Shucks, you are not fill in the form field.</div>
        </div>
        <label class="col-lg-2 col-form-label text-right"><span class="text-red">* </span>End Date:</label>
        <div class="col-lg-3">
          <input type="datetime-local" class="form-control" [class.is-invalid]="endDate.invalid && endDate.touched" formControlName="endDate" (change)="eventValidation()" [min]="minDate"/>
            <div class="invalid-feedback" *ngIf="endDate.invalid && endDate.touched">Shucks, you are not fill in the form field.</div>
        </div>
      </div>

      <div class="separator separator-dashed my-10"></div>

      <div class="form-group row">
        <div class="col-lg-12">
          <h3 class=" text-dark font-weight-bold mb-10">2. Venue and Layout:</h3>
        </div>
        <label class="col-lg-2 col-form-label text-right"><span class="text-red">* </span>Venue:</label>
        <div class="col-lg-3">
          <select class="form-control" [class.is-invalid]="venue.invalid && venue.touched" formControlName="venue" (change)="eventValidation()">
            <option value="">Choose</option>
            <option *ngFor="let list of listVenue">{{ list.roomName }}</option>
          </select>
            <div class="invalid-feedback" *ngIf="venue.invalid && venue.touched">Shucks, you are selecting any option.</div>
        </div>
        <label class="col-lg-2 col-form-label text-right"><span class="text-red">* </span>Layout:</label>
        <div class="col-lg-3">
          <select class="form-control" [class.is-invalid]="layout.invalid && layout.touched" formControlName="layout" (change)="eventValidation()">
            <option value="">Choose</option>
            <option *ngFor="let list of listSetup">{{ list.tableSetup }}</option>
          </select>
            <div class="invalid-feedback" *ngIf="layout.invalid && layout.touched">Shucks, you are selecting any option.</div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-lg-2 col-form-label text-right">Remark Housekeeping:</label>
        <div class="col-lg-8">
          <input type="text" class="form-control" placeholder="Remark for Housekeeping" formControlName="remarkHK"/>
        </div>
      </div>

      <div class="separator separator-dashed my-10"></div>

      <div class="form-group row">
        <div class="col-lg-12">
          <h3 class=" text-dark font-weight-bold mb-10">3. Event Details:</h3>
        </div>
        <label class="col-lg-2 col-form-label text-right"><span class="text-red">* </span>Event:</label>
        <div class="col-lg-3">
          <input type="text" class="form-control" placeholder="Event's Name" [class.is-invalid]="eventName.invalid && eventName.touched" formControlName="eventName"/>
          <div class="invalid-feedback" *ngIf="eventName.invalid && eventName.touched">Shucks, you are not fill in the form field.</div>
        </div>
        <label class="col-lg-2 col-form-label text-right"><span class="text-red">* </span>No of Pax:</label>
        <div class="col-lg-3">
          <input type="number" class="form-control" placeholder="Enter Number of Pax" [class.is-invalid]="noPax.invalid && noPax.touched" formControlName="noPax"/>
          <div class="invalid-feedback" *ngIf="noPax.invalid && noPax.touched">Shucks, you are not fill in the form field.</div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-lg-2 col-form-label text-right"><span class="text-red">* </span>Request By:</label>
        <div class="col-lg-3">
          <input type="text" class="form-control" placeholder="Enter Request By" [class.is-invalid]="requestBy.invalid && requestBy.touched" formControlName="requestBy"/>
          <div class="invalid-feedback" *ngIf="requestBy.invalid && requestBy.touched">Person who request this booking.</div>
        </div>
        <label class="col-lg-2 col-form-label text-right"><span class="text-red">* </span>Department:</label>
        <div class="col-lg-3">
          <select class="form-control" [class.is-invalid]="requestDepartment.invalid && requestDepartment.touched" id="requestDepartment" formControlName="requestDepartment">
            <option value="">Choose ...</option>
            <option *ngFor="let department of listDepartment">{{ department.departmentName }}</option>
          </select>
          <div class="invalid-feedback" *ngIf="requestDepartment.invalid && requestDepartment.touched">From what department.</div>
        </div>
      </div>

      <div class="separator separator-dashed my-10"></div>

      <div [hidden]="!controlNeed">
        <div class="form-group row">
          <div class="col-lg-12">
            <h3 class=" text-dark font-weight-bold mb-10">4. Event Needs:</h3>
          </div>
          <label class="col-3 col-form-label"><span class="text-red">* </span>Require IT Setup</label>
          <div class="col-lg-3">
            <span class="switch switch-icon">
              <label>
                <input type="checkbox" formControlName="reqIT" (click)="getControl('IT')"/>
                <span></span>
              </label>
            </span>
          </div>
        </div>
        <div class="card card-custom card-fit card-border p-5"  *ngFor="let list of setupVenue" style="background-color: #e7e5fc8c;"  [hidden]="!controlReqIT" >
          <div class="col-lg-12">
            <div class="form-group row">
              <label class="col-lg-3 col-form-label">Need Laptop</label>
              <div class="col-lg-3">
                <span class="switch switch-icon">
                  <label>
                    <input type="checkbox" formControlName="needNB"/>
                    <span></span>
                  </label>
                </span>
              </div>
              <label class="col-lg-3 col-form-label">Need LCD Projector</label>
              <div class="col-lg-3">
                <span [hidden]="!list.lcd" class="switch switch-icon">
                  <label>
                    <input type="checkbox" formControlName="needLcd"/>
                    <span></span>
                  </label>
                </span>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-3 col-form-label">Need Microphone</label>
              <div class="col-lg-3">
                <span [hidden]="!list.microphone" class="switch switch-icon">
                  <label>
                    <input type="checkbox" formControlName="needMic"/>
                    <span></span>
                  </label>
                </span>
              </div>
              <label class="col-lg-3 col-form-label">Need Audio</label>
              <div class="col-lg-3">
                <span [hidden]="!list.audio" class="switch switch-icon">
                  <label>
                    <input type="checkbox" formControlName="needAudio"/>
                    <span></span>
                  </label>
                </span>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-3 col-form-label">
                Need Pointer
                <span class="form-text text-muted">Based on availablity only</span>
              </label>
              <div class="col-lg-3">
                <span class="switch switch-icon">
                  <label>
                    <input type="checkbox" formControlName="needPointer"/>
                    <span></span>
                  </label>
                </span>
              </div>
              <div class="col-lg-6">
                <label>Remark for IT:</label>
                <input type="text" class="form-control" placeholder="Enter remark for IT" formControlName="remarkIT"/>
              </div>
            </div>
          </div>
        </div>

        <div class="separator separator-dashed my-10"></div>

        <div class="form-group row">
          <label class="col-3 col-form-label"><span class="text-red">* </span>Require F&B</label>
          <div class="col-lg-3">
            <span class="switch switch-icon">
              <label>
                <input type="checkbox" formControlName="reqCafe" (click)="getControl('CAFE')"/>
                <span></span>
              </label>
            </span>
          </div>
        </div>
        <div class="card card-custom card-fit card-border p-5" style="background-color: #e9fce58c;"  [hidden]="!controlReqCafe">
          <div class="form-group row">
            <div class="col-lg-4">
              <label>Menu:</label>
              <select class="form-control" formControlName="cafeMenu">
                <option value="">Choose</option>
                <option *ngFor="let list of listMenu">{{list.cafeMenu}}</option>
              </select>
              <span class="form-text text-muted">Choose Menu</span>
            </div>
            <div class="col-lg-8">
              <label>Remark for Cafe:</label>
              <input type="text" class="form-control" placeholder="Enter remark for Cafe" formControlName="remarkCafe"/>
            </div>
          </div>
        </div>

        <div class="separator separator-dashed my-10"></div>

        <div class="form-group row">
          <label class="col-3 col-form-label"><span class="text-red">* </span>Reserve Carpark</label>
          <div class="col-lg-3">
            <span class="switch switch-icon">
              <label>
                <input type="checkbox" formControlName="reqPark"  (click)="getControl('PR')"/>
                <span></span>
              </label>
            </span>
          </div>
        </div>
        <div class="row"  [hidden]="!controlReqPark">
          <div class="col-lg-6">
            <div class="card card-custom card-fit card-border p-5"  style="background-color: #f6fce5b3;">
              <div class="form-group row">
                <div class="col-lg-12">
                  <label>Valet Parking:</label>
                  <input type="number" class="form-control" placeholder="Enter number of valet parking" formControlName="noValet"/>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-lg-12">
                  <label>Valet Parking Remark:</label>
                  <textarea class="form-control" rows="3" placeholder="driver name (01234456789) ALM 4321" formControlName="remarkValet"></textarea>
                  <span class="form-text text-muted">Please include driver name, phone number and plate number if any</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 ">
            <div class="card card-custom card-fit card-border p-5"  style="background-color: #f6fce5b3;">
              <div class="form-group row">
                <div class="col-lg-12">
                  <label>Normal Parking:</label>
                  <input type="number" class="form-control" placeholder="Enter number of valet parking" formControlName="noNormal"/>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-lg-12">
                  <label>Normal Parking Remark:</label>
                  <textarea class="form-control" rows="3" placeholder="driver name (01234456789) ALK1231" formControlName="remarkNormal"></textarea>
                  <span class="form-text text-muted">Please include driver name, phone number and plate number if any</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="separator separator-dashed my-10"></div>
      <div class="form-group row">
        <div class="col-lg-6">
          <label>Overall Remarks:</label>
          <input type="text" class="form-control" placeholder="Ex: Request By John from HR" formControlName="remarkOverall"/>
        </div>
      </div>

    </div>
    <div class="card-footer">
      <div class="row">
        <div class="col-lg-12 text-right">
          <button type="reset" class="btn btn-secondary mr-2">Reset</button>
          <button [disabled]="myForm.invalid || controlError" type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </div>
  </div>
</form>
