
<form [formGroup]="myForm" (submit)="onSubmit()" [hidden]="loading">
  <div class="card card-custom gutter-b" *ngIf="loading">
    <div class="card-body row">
      <button disabled type="button" class="btn btn-square btn-light btn-shadow spinner spinner-dark spinner-left">
        Processing
      </button>
      <span class="mt-4 ml-10 text-danger">{{notFound}}</span>
    </div>
  </div>
  <div class="card card-custom gutter-b">
    <div class="card-header">
      <div class="card-title">
        <h3 class="card-label">
          {{ pageTitle }} Room
        </h3>
      </div>
    </div>
    <div class="card-body">
      <div class="form-group row">
        <div class="col-lg-6">
          <label>Room Name:</label>
          <input type="text" class="form-control" placeholder="Enter room name" [class.is-invalid]="roomName.invalid && roomName.touched"  formControlName="roomName" required/>
          <span class="form-text text-muted">Please enter room name</span>
        </div>
        <div class="col-lg-6">
          <label>Location:</label>
          <input type="text" class="form-control" placeholder="Enter location" [class.is-invalid]="location.invalid && location.touched"  formControlName="location" required/>
          <span class="form-text text-muted">Please enter location</span>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-lg-6">
          <label>Capacity:</label>
          <input type="number" class="form-control" placeholder="Enter capacity" [class.is-invalid]="capacity.invalid && capacity.touched"   formControlName="capacity" required/>
          <span class="form-text text-muted">Please enter capacity</span>
        </div>
        <div class="col-lg-6">
          <label>Microphone:</label>
          <span class="switch switch-icon">
            <label>
              <input type="checkbox" formControlName="microphone"/>
              <span></span>
            </label>
          </span>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-lg-6">
          <label>Audio:</label>
          <span class="switch switch-icon">
            <label>
              <input type="checkbox" formControlName="audio"/>
              <span></span>
            </label>
          </span>
        </div>
        <div class="col-lg-6">
          <label>LCD Projector:</label>
          <span class="switch switch-icon">
            <label>
              <input type="checkbox" formControlName="lcd"/>
              <span></span>
            </label>
          </span>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="row">
        <div class="col-lg-6">
          <button [disabled]="myForm.invalid"  type="submit" class="btn btn-primary mr-2">Save</button>
          <button type="reset" class="btn btn-secondary">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</form>
