<div id="kt_quick_user" class="offcanvas offcanvas-right p-10">
  <div class="offcanvas-header d-flex align-items-center justify-content-between pb-5">
    <h3 class="font-weight-bold m-0">
      User Profile
    </h3>
    <a href="#" class="btn btn-xs btn-icon btn-light btn-hover-primary" id="kt_quick_user_close">
      <i class="ki ki-close icon-xs text-muted"></i>
    </a>
  </div>
  <div class="offcanvas-content pr-5 mr-n5">
    <div class="d-flex align-items-center mt-5">
      <div class="symbol symbol-100 mr-5">
        <span class="symbol-label font-size-h5 font-weight-bold text-white bg-primary">{{ userNameFirst }}</span>
      </div>
      <div class="d-flex flex-column">
        <a class="font-weight-bold font-size-h5 text-dark-75 text-hover-primary">
          {{ userName }}
        </a>
        <div class="text-muted mt-1">
          {{ userDepartment }}
        </div>
        <div class="navi mt-2">
          <a (click)="_authService.logoutUser()" class="btn btn-sm btn-light-primary font-weight-bolder py-2 px-5">Sign Out</a>
        </div>
      </div>
    </div>
    <div class="separator separator-dashed mt-8 mb-5"></div>
    <div class="navi navi-spacer-x-0 p-0">
      <a data-toggle="modal" data-target="#changePassModal" class="navi-item" style="cursor: pointer;">
        <div class="navi-link">
          <div class="symbol symbol-40 bg-light mr-3">
            <div class="symbol-label">
              <span class="svg-icon svg-icon-md svg-icon-success">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                  <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <rect x="0" y="0" width="24" height="24"/>
                      <path d="M7.38979581,2.8349582 C8.65216735,2.29743306 10.0413491,2 11.5,2 C17.2989899,2 22,6.70101013 22,12.5 C22,18.2989899 17.2989899,23 11.5,23 C5.70101013,23 1,18.2989899 1,12.5 C1,11.5151324 1.13559454,10.5619345 1.38913364,9.65805651 L3.31481075,10.1982117 C3.10672013,10.940064 3,11.7119264 3,12.5 C3,17.1944204 6.80557963,21 11.5,21 C16.1944204,21 20,17.1944204 20,12.5 C20,7.80557963 16.1944204,4 11.5,4 C10.54876,4 9.62236069,4.15592757 8.74872191,4.45446326 L9.93948308,5.87355717 C10.0088058,5.95617272 10.0495583,6.05898805 10.05566,6.16666224 C10.0712834,6.4423623 9.86044965,6.67852665 9.5847496,6.69415008 L4.71777931,6.96995273 C4.66931162,6.97269931 4.62070229,6.96837279 4.57348157,6.95710938 C4.30487471,6.89303938 4.13906482,6.62335149 4.20313482,6.35474463 L5.33163823,1.62361064 C5.35654118,1.51920756 5.41437908,1.4255891 5.49660017,1.35659741 C5.7081375,1.17909652 6.0235153,1.2066885 6.2010162,1.41822583 L7.38979581,2.8349582 Z" fill="#000000" opacity="0.3"/>
                      <path d="M14.5,11 C15.0522847,11 15.5,11.4477153 15.5,12 L15.5,15 C15.5,15.5522847 15.0522847,16 14.5,16 L9.5,16 C8.94771525,16 8.5,15.5522847 8.5,15 L8.5,12 C8.5,11.4477153 8.94771525,11 9.5,11 L9.5,10.5 C9.5,9.11928813 10.6192881,8 12,8 C13.3807119,8 14.5,9.11928813 14.5,10.5 L14.5,11 Z M12,9 C11.1715729,9 10.5,9.67157288 10.5,10.5 L10.5,11 L13.5,11 L13.5,10.5 C13.5,9.67157288 12.8284271,9 12,9 Z" fill="#000000"/>
                  </g>
                </svg>
              </span>
            </div>
          </div>
          <div class="navi-text">
            <div class="font-weight-bold">
              My Password
            </div>
            <div class="text-muted">
              Change Password
              <!-- <span class="label label-light-danger label-inline font-weight-bold">update</span> -->
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

<div class="modal fade" id="changePassModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form  class="form" [formGroup]="myForm" (submit)="onSubmit()">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Change Password</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <i aria-hidden="true" class="ki ki-close"></i>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" [class.is-invalid]="password.invalid && password.touched"  formControlName="password"/>
          </div>
          <div class="form-group">
            <label>Confirm Password</label>
            <input type="password" class="form-control" [class.is-invalid]="confirmPassword.invalid && confirmPassword.touched"  formControlName="confirmPassword" (keyup)="checkPaswword()"/>
            <span class="form-text invalid-feedback" >{{ alertMassage }}</span>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary font-weight-bold" [disabled]="myForm.invalid">Save changes</button>
        </div>
      </div>
    </form>
  </div>
</div>
