/* .cust-display {
  display: flex !important;
}

.cust-display-1 {
  display: flex !important;
}

.holiday-state {
  background: lightcoral !important;
}

.oncall-state{
  background-color: salmon !important;
  border-color: salmon !important;
}

.event-state{
  background-color: #d7ebff !important;
  text-decoration: none;
  color: #3F4254 !important;
}

.event-state:hover{
  background-color: #f5f5f5 !important;
  cursor: pointer;
}

.fc-event-title.fc-sticky {
  width: 120px;
}

td.fc-daygrid-day.fc-day.fc-day-sun {
  background: #d3d3d36b;
}

.fc-day-today {
  background-color: #fff297 !important;
} */
