<div class="alert alert-custom alert-notice alert-light-warning fade show" role="alert" *ngIf="alertArray.length > 0">
  <div class="alert-icon"><i class="flaticon-warning"></i></div>
  <div class="alert-text">
    <h4>There is an event in less than 30 minutes. Please check it out</h4>
    <div class="separator separator-solid separator-border-2 separator-secondary"  style="margin-bottom: 20px;"></div>
    <div class="col-lg-12" *ngFor="let eventList of alertArray">
      <h6>{{ eventList.title }} <small>{{ convertMinute(eventList.start) }}</small></h6>
    </div>
  </div>
  <div class="alert-close">
    <button type="button" class="close" (click)="clearAlert()">
      <span aria-hidden="true"><i class="ki ki-close"></i></span>
    </button>
  </div>
</div>
<div class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">
        Calendar
      </h3>
    </div>
    <div class="card-toolbar">
      <tr>
        <td>
          <select class="form-control" (change)="onFilter($event)">
            <option value="All">All</option>
            <option value="IT">IT</option>
            <option value="HK">Housekeeping</option>
            <option value="CF">Cafe</option>
            <option value="PR">PR</option>
          </select>
        </td>
        <td *ngIf="OnlyIT()">
          <button class="btn btn-sm btn-success font-weight-bold ml-5" data-toggle="modal"
            data-target="#exampleModalSizeSm">
            <i class="flaticon2-cube"></i> IT Note
          </button>
        </td>
      </tr>
    </div>
  </div>
  <div class="card-body">
    <div class="card card-custom gutter-b" *ngIf="loading">
      <div class="card-body row">
        <button disabled type="button" class="btn btn-square btn-light btn-shadow spinner spinner-dark spinner-left">
          Processing
        </button>
      </div>
    </div>
    <full-calendar [options]="fullcalendar"></full-calendar>
    <div class="col-lg-12">Next refresh : {{ nextRefreshTime }}</div>
  </div>
</div>

<button id="btnModalEvent" type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalInfo"
  style="display: none;">
  Launch demo modal
</button>



<div class="modal fade" id="exampleModalSizeSm" tabindex="-1" role="dialog" aria-labelledby="exampleModalSizeSm"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">IT Note</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i aria-hidden="true" class="ki ki-close"></i>
        </button>
      </div>
      <div class="modal-body">
        <app-note></app-note>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalInfo" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalSizeXl" aria-hidden="true" >
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Event Information <small>Total : {{singleEventArray.length}} Event</small> </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="clearModal()">
                  <i aria-hidden="true" class="ki ki-close"></i>
              </button>
          </div>
          <app-event-info [singleEventArray]="singleEventArray"></app-event-info>
          <div class="modal-footer">
            <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal" (click)="clearModal()">Close</button>
          </div>
      </div>
  </div>
</div>
