<div class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">
        On-call Setting
      </h3>
    </div>
  </div>
  <div class="card-body">
    <full-calendar [options]="fullcalendar"></full-calendar>
    <!-- Button trigger modal-->
    <button id="btnModal" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
      style="display: none;">
      Launch demo modal
    </button>

    <!-- Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <form [formGroup]="myForm" (submit)="onSubmit()">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">On-call Setup</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <i aria-hidden="true" class="ki ki-close"></i>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label>Date</label>
                <input type="text" class="form-control" value="" disabled formControlName="date">
              </div>
              <div class="form-group">
                <label for="exampleSelect1">Oncall</label>
                <select class="form-control" id="exampleSelect1" formControlName="oncall">
                  <option>Shafiq</option>
                  <option>Jaafar</option>
                  <option>Leslie</option>
                  <option>Munawwar</option>
                  <option>Faizal</option>
                  <option>Hazwan</option>
                  <option>Vikna</option>
                  <option>Umie</option>
                </select>
              </div>
              <div class="form-group">
                <label for="exampleSelect1">LCD Duty</label>
                <select class="form-control" id="exampleSelect2" formControlName="led">
                  <option></option>
                  <option>Shafiq</option>
                  <option>Jaafar</option>
                  <option>Leslie</option>
                  <option>Munawwar</option>
                  <option>Faizal</option>
                  <option>Hazwan</option>
                  <option>Vikna</option>
                  <option>Umie</option>
                </select>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary font-weight-bold" >Save changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
