<div class="card card-custom card-border">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">
        {{ title }}
      </h3>
    </div>
    <div class="card-toolbar">
      <tr>
        <td><input class="form-control" id="inputDate" type="date" value="{{today}}" (change)="changeDate($event)"></td>
      </tr>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-head-custom table-vertical-center" id="kt_advance_table_widget_2">
        <thead>
          <tr class="text-uppercase">
            <th class="pl-0" style="min-width: 220px">Event</th>
            <th style="min-width: 120px">Book Person</th>
            <th style="min-width: 150px">Location</th>
            <th style="min-width: 120px">Start</th>
            <th style="min-width: 120px">End</th>
            <th style="min-width: 80px">status</th>
            <th style="min-width: 220px">Last Modified</th>
            <th class="pr-0 text-right" style="min-width: 180px">action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let list of arrEvent">
            <td class="pl-0">
              <span class="text-dark-75 font-weight-bolder d-block font-size-lg"> {{ list.eventName }} </span>
            </td>
            <td>
              <span class="text-dark-75 font-weight-bold d-block font-size-lg">
                {{ list.requestBy }}
              </span>
              <span class="text-muted font-weight-bold">
                {{ list.requestDepartment }}
              </span>
            </td>
            <td>
              <span class="text-dark-75 font-weight-bold d-block font-size-lg">
                {{ list.venue }}
              </span>
            </td>
            <td>
              <span class="text-dark-75 font-weight-bold d-block font-size-lg">
                {{ convertDate(list.startDate, 'time') }}
              </span>
              <span class="text-muted font-weight-bold">
                {{ convertDate(list.startDate, 'date') }}
              </span>
            </td>
            <td>
              <span class="text-dark-75 font-weight-bold d-block font-size-lg">
                {{ convertDate(list.endDate, 'time') }}
              </span>
              <span class="text-muted font-weight-bold">
                {{ convertDate(list.endDate, 'date') }}
              </span>
            </td>
            <td>
              <span class="label label-lg label-light-primary label-inline" *ngIf="list.status == 'active'">{{ list.status }}</span>
              <span class="label label-lg label-light-danger label-inline" *ngIf="list.status == 'deleted'">{{ list.status }}</span>
            </td>
            <td>
              <span class="text-dark-75 font-weight-bold d-block font-size-lg">
                {{ convertDate(list.created, 'created') }}
              </span>
            </td>
            <td class="pr-0 text-right" *ngIf="list.status == 'active'">
              <a class="btn btn-icon btn-light btn-hover-primary btn-sm" (click)="pushEventID(list._id)" data-toggle="modal" data-target="#modalInfo" title="Event Details">
                <span class="svg-icon svg-icon-md svg-icon-primary">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                    height="24px" viewBox="0 0 24 24" version="1.1">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <rect x="0" y="0" width="24" height="24" />
                      <path
                        d="M7,3 L17,3 C19.209139,3 21,4.790861 21,7 C21,9.209139 19.209139,11 17,11 L7,11 C4.790861,11 3,9.209139 3,7 C3,4.790861 4.790861,3 7,3 Z M7,9 C8.1045695,9 9,8.1045695 9,7 C9,5.8954305 8.1045695,5 7,5 C5.8954305,5 5,5.8954305 5,7 C5,8.1045695 5.8954305,9 7,9 Z"
                        fill="#000000" />
                      <path
                        d="M7,13 L17,13 C19.209139,13 21,14.790861 21,17 C21,19.209139 19.209139,21 17,21 L7,21 C4.790861,21 3,19.209139 3,17 C3,14.790861 4.790861,13 7,13 Z M17,19 C18.1045695,19 19,18.1045695 19,17 C19,15.8954305 18.1045695,15 17,15 C15.8954305,15 15,15.8954305 15,17 C15,18.1045695 15.8954305,19 17,19 Z"
                        fill="#000000" opacity="0.3" />
                    </g>
                  </svg>
                </span>
              </a>
              <a (click)="historyButton(list._id)" class="btn btn-icon btn-light btn-hover-primary btn-sm ml-3" title="Event History" *ngIf="userCreated(list.person_id)">
                <span class="svg-icon svg-icon-md svg-icon-primary">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                    height="24px" viewBox="0 0 24 24" version="1.1">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <rect x="0" y="0" width="24" height="24" />
                      <path
                        d="M10.9630156,7.5 L11.0475062,7.5 C11.3043819,7.5 11.5194647,7.69464724 11.5450248,7.95024814 L12,12.5 L15.2480695,14.3560397 C15.403857,14.4450611 15.5,14.6107328 15.5,14.7901613 L15.5,15 C15.5,15.2109164 15.3290185,15.3818979 15.1181021,15.3818979 C15.0841582,15.3818979 15.0503659,15.3773725 15.0176181,15.3684413 L10.3986612,14.1087258 C10.1672824,14.0456225 10.0132986,13.8271186 10.0316926,13.5879956 L10.4644883,7.96165175 C10.4845267,7.70115317 10.7017474,7.5 10.9630156,7.5 Z"
                        fill="#000000" />
                      <path
                        d="M7.38979581,2.8349582 C8.65216735,2.29743306 10.0413491,2 11.5,2 C17.2989899,2 22,6.70101013 22,12.5 C22,18.2989899 17.2989899,23 11.5,23 C5.70101013,23 1,18.2989899 1,12.5 C1,11.5151324 1.13559454,10.5619345 1.38913364,9.65805651 L3.31481075,10.1982117 C3.10672013,10.940064 3,11.7119264 3,12.5 C3,17.1944204 6.80557963,21 11.5,21 C16.1944204,21 20,17.1944204 20,12.5 C20,7.80557963 16.1944204,4 11.5,4 C10.54876,4 9.62236069,4.15592757 8.74872191,4.45446326 L9.93948308,5.87355717 C10.0088058,5.95617272 10.0495583,6.05898805 10.05566,6.16666224 C10.0712834,6.4423623 9.86044965,6.67852665 9.5847496,6.69415008 L4.71777931,6.96995273 C4.66931162,6.97269931 4.62070229,6.96837279 4.57348157,6.95710938 C4.30487471,6.89303938 4.13906482,6.62335149 4.20313482,6.35474463 L5.33163823,1.62361064 C5.35654118,1.51920756 5.41437908,1.4255891 5.49660017,1.35659741 C5.7081375,1.17909652 6.0235153,1.2066885 6.2010162,1.41822583 L7.38979581,2.8349582 Z"
                        fill="#000000" opacity="0.3" />
                    </g>
                  </svg>
                </span>
              </a>
              <a routerLink="/system/s/booking/room-register/{{ list._id }}" class="btn btn-icon btn-light btn-hover-primary btn-sm ml-3" title="Event Edit" *ngIf="userCreated(list.person_id)">
                <span class="svg-icon svg-icon-md svg-icon-primary">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                    height="24px" viewBox="0 0 24 24" version="1.1">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <rect x="0" y="0" width="24" height="24" />
                      <path
                        d="M12.2674799,18.2323597 L12.0084872,5.45852451 C12.0004303,5.06114792 12.1504154,4.6768183 12.4255037,4.38993949 L15.0030167,1.70195304 L17.5910752,4.40093695 C17.8599071,4.6812911 18.0095067,5.05499603 18.0083938,5.44341307 L17.9718262,18.2062508 C17.9694575,19.0329966 17.2985816,19.701953 16.4718324,19.701953 L13.7671717,19.701953 C12.9505952,19.701953 12.2840328,19.0487684 12.2674799,18.2323597 Z"
                        fill="#000000" fill-rule="nonzero"
                        transform="translate(14.701953, 10.701953) rotate(-135.000000) translate(-14.701953, -10.701953) " />
                      <path
                        d="M12.9,2 C13.4522847,2 13.9,2.44771525 13.9,3 C13.9,3.55228475 13.4522847,4 12.9,4 L6,4 C4.8954305,4 4,4.8954305 4,6 L4,18 C4,19.1045695 4.8954305,20 6,20 L18,20 C19.1045695,20 20,19.1045695 20,18 L20,13 C20,12.4477153 20.4477153,12 21,12 C21.5522847,12 22,12.4477153 22,13 L22,18 C22,20.209139 20.209139,22 18,22 L6,22 C3.790861,22 2,20.209139 2,18 L2,6 C2,3.790861 3.790861,2 6,2 L12.9,2 Z"
                        fill="#000000" fill-rule="nonzero" opacity="0.3" />
                    </g>
                  </svg>
                </span>
              </a>
              <a (click)="onDelete(list._id, list.masterEvents, list.eventName)" class="btn btn-icon btn-light btn-hover-primary btn-sm ml-3" title="Event Delete" *ngIf="userCreated(list.person_id)">
                <span class="svg-icon svg-icon-md svg-icon-primary">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                    height="24px" viewBox="0 0 24 24" version="1.1">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <rect x="0" y="0" width="24" height="24" />
                      <path
                        d="M6,8 L6,20.5 C6,21.3284271 6.67157288,22 7.5,22 L16.5,22 C17.3284271,22 18,21.3284271 18,20.5 L18,8 L6,8 Z"
                        fill="#000000" fill-rule="nonzero" />
                      <path
                        d="M14,4.5 L14,4 C14,3.44771525 13.5522847,3 13,3 L11,3 C10.4477153,3 10,3.44771525 10,4 L10,4.5 L5.5,4.5 C5.22385763,4.5 5,4.72385763 5,5 L5,5.5 C5,5.77614237 5.22385763,6 5.5,6 L18.5,6 C18.7761424,6 19,5.77614237 19,5.5 L19,5 C19,4.72385763 18.7761424,4.5 18.5,4.5 L14,4.5 Z"
                        fill="#000000" opacity="0.3" />
                    </g>
                  </svg>
                </span>
              </a>
            </td>
            <td class="pr-0 text-right" *ngIf="list.status == 'deleted'">
              <a (click)="onActive(list._id, list.masterEvents, list.eventName)" class="btn btn-icon btn-light btn-hover-primary btn-sm ml-3" title="Ativated" *ngIf="userCreated(list.person_id)">
                <span class="svg-icon svg-icon-md svg-icon-primary">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                    height="24px" viewBox="0 0 24 24" version="1.1">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <polygon points="0 0 24 0 24 24 0 24"/>
                      <path d="M6.26193932,17.6476484 C5.90425297,18.0684559 5.27315905,18.1196257 4.85235158,17.7619393 C4.43154411,17.404253 4.38037434,16.773159 4.73806068,16.3523516 L13.2380607,6.35235158 C13.6013618,5.92493855 14.2451015,5.87991302 14.6643638,6.25259068 L19.1643638,10.2525907 C19.5771466,10.6195087 19.6143273,11.2515811 19.2474093,11.6643638 C18.8804913,12.0771466 18.2484189,12.1143273 17.8356362,11.7474093 L14.0997854,8.42665306 L6.26193932,17.6476484 Z" fill="#000000" fill-rule="nonzero" transform="translate(11.999995, 12.000002) rotate(-180.000000) translate(-11.999995, -12.000002) "/>
                    </g>
                  </svg>
                </span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<button id="historyModalListBtn" type="button" class="btn btn-primary" data-toggle="modal" data-target="#historyModalList" style="display: none;">
  Launch demo modal
</button>

<app-modal-info [singleEventArray]="singleEventArray"></app-modal-info>
<app-modal-history [historyArray]="historyArray"></app-modal-history>
